
body {
    margin: 20px auto;
    box-sizing: border-box;
    max-width: 1400px;
    font-family: sans-serif;

}

section.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
}

.get-section, .show-section {
    width: 350px;
}

.buttons input {
    margin: 20px 10px;
    padding: 3px;
    border-radius: 8px;
}

.buttons button {
    padding: 3px 30px;
    border-radius: 5px;
    background: white;
    border: 2px solid green;
    color: green;
    font-weight: 700;
}

.buttons button:hover{
    cursor: pointer;
    background-color: bisque;
    color: black;
}

.line {
    height: 2px;
    color: black;
    background-color: black;
    margin: 40px 0;
    width: 100%;
}

.results article {
    border: 1px solid green;
    margin: 10px 20px;
    padding: 0 20px;
    border-radius: 8px;
    position: relative;
}

.results article p{
    padding-left: 10px;
}

.results article button {
        padding: 3px 30px;
        border-radius: 5px;
        background: white;
        border: 2px solid red;
        color: red;
        font-weight: 700;
        position: absolute;
        top: 8px;
        right: 8px;
}

.results article button:hover{
        cursor: pointer;
        background-color: darkgray;
}

#loading-msg{
    position: absolute;
    top: -40px;
}

.show-section{
    position: relative;
}

#err-validation{
    position: absolute;
    top: 32px;
    left: 14px;
    font-weight: 600;
    color: red;
    font-size: 18px;
}

#delete-message{
    position: absolute;
    right: 126px;
    top: -10px;
    color: red;
}
